extends template.pug

block link
    link(rel="stylesheet", href="D:\\part5\\HTML\\preprochessors\\new_project\\dist\\css\\css_text.css")

block content
    .container
        include menu
        .central
            .row_first
                .big
                .small
                    .first
                    .second
            .row_second
                .bottom
                    .p1
                    .p2
                    .p3