extends template.pug

block link
    link(rel="stylesheet", href="D:\\part5\\HTML\\preprochessors\\new_project\\dist\\css\\font.css")

block content
    .container
        include menu
        .gallery
            div
                img(src='D:\\part5\\HTML\\preprochessors\\new_project\\img\\css-text-decoration.png')
            div
                img(src='D:\\part5\\HTML\\preprochessors\\new_project\\img\\css-probely.png')
            div
                img(src='D:\\part5\\HTML\\preprochessors\\new_project\\img\\css-text.png')
        .text_1
            p
                code font
                |  - универсальное свойство, которое позволяет одновременно задать несколько характеристик шрифта и текста.
                br
                | Синтаксис
                br
                code [font-style||font-variant||font-weight] font-size [/line-height] font-family
        .text_2
            p
                code font-style
                |  - определяет начертание шрифта: обычное, курсивное или наклонное. Когда для текста установлено курсивное или наклонное начертание, браузер обращается к системе для поиска подходящего шрифта. Если заданный шрифт не найден, браузер использует специальный алгоритм для имитации нужного вида текста. Результат и качество при этом могут получиться неудовлетворительными, особенно при печати документа.
                br
                | Синтаксис
                br
                code font-style: normal | italic | oblique | inherit