extends template.pug

block link
	- var path_to_index_css = "D:\\part5\\HTML\\preprochessors\\new_project\\dist\\index.css"

	link(rel="stylesheet", href=path_to_index_css)

block content
	.container
		include menu
		.text_info
			p.first_p CSS (англ. Cascading Style Sheets — каскадные таблицы стилей) — формальный язык описания внешнего вида документа, написанного с использованием языка разметки.

			div.cost
				p.second_p Основным понятием CSS является стиль – т. е. набор правил оформления и форматирования, который может быть  применен к различным элементам страницы. Для присвоения какому-либо элементу определенных характеристик необходимо  один раз описать этот элемент и определить это описание как стиль, а в дальнейшем просто указывать, что элемент получить свойства выбранного стиля.
				.pic
					img(src="D:\\part5\\HTML\\preprochessors\\new_project\\img\\css1.jpg")

		.video_info
			iframe(width='560', height='315', src='https://www.youtube.com/embed/1Q10OoX5QiM', title='YouTube video player', frameborder='0', allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')